{% block content %}
<footer >
        	<nav class="navbar navbar-expand-sm navbar-dark justify-content-center" style="background-color:black;">
             	<ul class="navbar-nav">
                <li class="nav-item">
                    <strong><a href="/home" class="nav-link ">ГЛАВНАЯ</a></strong>
                </li>
                <li class="nav-item">
                    <strong><a href="/about_as" class="nav-link ">О НАС</a></strong>
                </li>
                 <li class="nav-item" >
                     <strong><a href="" class="nav-link ">РАСПИСАНИЕ БОГОСЛУЖЕНИЙ</a></strong>
                </li>
                <li class="nav-item">
                    <strong><a href=" " class="nav-link ">ПУБЛИКАЦИИ</a></strong>
                </li>
                <li class="nav-item">
                    <strong><a href=" " class="nav-link ">СТАТЬИ</a></strong>
                </li>
                <li class="nav-item">
                    <strong><a href=" " class="nav-link ">ФОТО ГАЛЕРЕЯ</a></strong>
                </li>
                <li class="nav-item">
                    <strong><a href=" " class="nav-link ">СВЯЗАТЬСЯ С НАМИ</a></strong>
                </li>
             </ul>
            </nav>
        </footer>
 {% endblock %}